.hidden{
    display: none;
}

.form__input-group{
    display: block;
}

.nav__bar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: black;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color:white;
    font-weight: 500;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

body {
    --nav-width: 150px;
    margin: 0 0 0 var(--nav-width);
    font-size: 18px;
}

.input__write{
    display: block;
}

#div__post-list{
    cursor: pointer;
}

.titles{
    cursor: pointer;
}


li{
    list-style: none;
}

input{
    display: block;
}

#title{
    margin: auto;
    height: 50px;
    width: 500px;
    text-align: center;
}

#contents{
    margin: auto;
    margin-top: 15px;
    height: 500px;
    width: 500px;
    text-align: center;
}

#submit-post{
    margin:auto;
    height: 50px;
    width: 200px;
    font-size: x-large;
}

#input__modify-title {
    margin: auto;
    height: 50px;
    width: 500px;
    text-align: center;
}

#input__modify-contents {
    margin: auto;
    margin-top: 15px;
    height: 500px;
    width: 500px;
    text-align: center;
}