.hidden{
    display: none;
}

.input__write{
    display: inline-block;
}

#goHome{
    
}

.form__input-group{
    display: block;
}

.nav__bar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: black;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color:white;
    font-weight: 500;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}